@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Peddana&family=Vollkorn+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;800&family=Black+Ops+One&family=Niconne&family=Nunito:wght@200&family=Peddana&family=Sarala&family=Source+Serif+Pro&family=Vollkorn+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
@font-face {
  font-family: muli;
  src: url(../myFonts/muli.regular.ttf);
}
:root {
  --main-bg-color: #000;
  --main-txt-color: #fff;
  --main-txt-skycolor: deepskyblue;
}
html {
  scroll-behavior: smooth;
  user-select: none;
  font-size: 100%;
}
body {
  background: var(--main-txt-color);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgba(210, 210, 210, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

header {
  width: 100%;
  height: 100vh;
  background: url(../images/code2.png) no-repeat;
  background-size: cover;
  position: relative;
  /* clip-path: polygon(100% 0,100% 85%,50% 100% ,0 85% ,0 0); */
}
.navbar {
  width: 100%;
  padding: 0.5rem 7rem !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
}
.bg-dark {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-dark .navbar-toggler:focus {
  outline: 1px dotted deepskyblue;
}
.navbar-brand {
  padding-bottom: 0rem;
  font-size: 2.25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}
.M,
.dot {
  color: deepskyblue;
  font-weight: 600;
}
.navbar-nav .nav-link {
  color: var(--main-txt-color) !important;
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-nav .nav-link:hover {
  color: deepskyblue !important;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
.navbar-nav .active {
  color: deepskyblue !important;
}
.navbar-nav .active:hover {
  color: var(--main-txt-color) !important;
}
a {
  color: #000;
}
/* header close */
/* intro start styling || Landing Page */
.typed-cursor {
  color: deepskyblue;
  height: 10px;
}
.landing-page {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.landing-page > h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.2rem;
}
.follow-me {
  font-size: 2rem;
  font-family: 'Black Ops One', cursive;
}
.social-icon {
  position: relative;
}
.social-icon a {
  margin: 0 15px;
}
.s_link {
  margin: 0 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background: linear-gradient(90deg, deepskyblue 0%, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-icon .s_link {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.social-icon .s_link:hover {
  transform: scale(1.2);
}

.icon-scroll {
  position: relative;
  height: 42px;
  width: 26px;
  border: 2px solid #fff;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 26px;
  top: 200px;
}
.icon-scroll:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 4px;
  margin-left: 9px;
  background: #fff;
  border-radius: 10px;
  animation: scroll 1s infinite linear;
  -webkit-animation: scroll 1s infinite linear;
  transition: all 1s ease-in-out;
}
@keyframes scroll {
  from {
    transform: translateY(-2px);
    opacity: 1;
    animation-delay: 5s;
  }
  to {
    transform: translateY(30px);
    opacity: 0.1;
  }
}
/* close landing page styling */

/* all section same font-family */
section {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

/* skills section styling */
.line-effect {
  border-bottom: 3px groove deepskyblue;
}
.progress {
  background: #9e9e9e6e;
  margin: 10px 0;
}
.lead {
  text-align: justify;
} /* close */

/* myWork-gallery styling */

#mywork ul li:nth-child(1) {
  border-bottom: 6px solid deepskyblue;
  border-radius: 4px;
}
.active1 {
  background: #ebebeb !important;
  color: #000 !important;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 5px grey;
}
#mywork ul li a {
  font-size: 1.5rem;
  font-weight: 100;
  background: #222222;
  border-radius: 5px;
  padding: 5px 15px;
  color: var(--main-txt-color);
}
#mywork ul li a:focus {
  background: #ebebeb;
  transition: all 0.5s linear;
  color: #000 !important;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 5px grey;
}
._center {
  text-align: center;
  padding: 0 !important;
}
#some-canva-work,
#some-personal-Images img {
  width: 75%;
}
.mywork img {
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
}
.mywork img:nth-child(1) {
  margin-top: 1.5rem;
}

/* close */

/* about section styling starts */
.owl-nav {
  font-size: 25px;
}
.owl-nav button:focus {
  outline: none !important;
  border: none !important;
}
.owl-dots button:focus {
  outline: none !important;
  border: none !important;
}
.owl-nav button:hover {
  outline: none;
  border: none !important;
  background-color: unset !important;
  color: #000 !important;
}
.card {
  width: 100%;
  /* height: 210px; */
}
.card img {
  width: 20% !important;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
}
.stars {
  padding-left: 1rem;
  margin-top: 20px;
}
.stars .fas {
  color: deepskyblue;
}
.card-body {
  padding: 0.7rem 1rem;
}
.card-body > .card-title {
  font-family: muli;
  font-weight: 900;
}
.card-body > .card-text {
  font-family: 'Nunito', sans-serif;
}
.indicators {
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 25px;
  /* color:var(--main-txt-color); */
}
.indicators span {
  margin: 0 25px;
  position: relative;
}
.indicators span::before {
  content: '\00ab';
  position: absolute;
  top: -25px;
  left: 12px;
  font-size: 25px;
  transform: rotate(90deg);
}
.icons {
  content: '\00ab';
  position: absolute;
  top: -25px;
  left: 12px;
  font-size: 25px;
  transform: rotate(90deg);
} /* close about style */

/* contact section styling starts */
.phone,
.email,
.address {
  margin-bottom: 2.6rem;
}
.fa-phone-alt,
.E,
.fa-map-marked-alt {
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 0.8rem;
  color: deepskyblue;
  background: #fff;
  border: 2px groove deepskyblue;
}
.same-style {
  font-size: 1rem;
  font-family: muli;
}
.contact-style {
  padding: 0 3.1rem;
  line-height: 1px;
}
.contact-style a {
  opacity: 0.4;
}
.contact-style a:hover {
  color: gray !important;
  transition: all 0.5s ease;
}
.form-control {
  padding: 1.5rem 0.75rem !important;
  position: relative;
  font-weight: 600;
}
.fa-user,
.email-icon,
.fa-comment-dots {
  position: absolute;
  top: 18px;
  right: 25px;
  opacity: 0.5;
}
.txtarea {
  padding: 0.8rem !important;
}
.btn-primary {
  border-radius: 18px;
  padding: 0.375rem 1.2rem;
}
/*close contact section*/

/* footer styling start */
footer {
  font-family: 'Niconne', cursive;
  font-weight: 600;
  font-size: 1.7rem;
}
.top {
  position: absolute;
  bottom: 10px;
  right: 50px;
}
.top .fa-angle-up {
  color: var(--main-txt-color);
  font-size: 3em;
}
hr {
  color: var(--main-txt-skycolor);
  width: 100%;
  border-radius: 10px;
  border: 3px solid;
  margin: 0;
} /* footer styling closed */

/* media quires starts */
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-right: 0.8rem !important;
    padding-left: 0.8rem !important;
    padding: 0rem 0rem;
  }
  .navbar-expand-lg .navbar-nav {
    justify-content: flex-end;
    width: 100%;
  }
  .same-style {
    font-size: 1rem;
  }
  .contact-style {
    padding: 0 2.9rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem !important;
  }
  .landing-page > h2 {
    font-size: 2rem;
  }
  .owl-theme .owl-nav {
    margin-top: -25px !important;
  }
  .about-quiery {
    margin-bottom: -50px !important;
  }
  .top {
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0;
    text-align: center;
  }
  .mywork-spc {
    margin-top: 1.5rem;
  }
  .indicators {
    display: none;
  }
  #mywork ul li a {
    font-size: 1rem;
    font-weight: 100;
    padding: 5px 5px;
  }

  #some-canva-work,
  #some-personal-Images img {
    width: 100%;
  }
}

@media (max-width: 445px) {
  footer {
    font-size: 1.3rem;
  }
  .social-icon a {
    margin: 0px;
  }
}
@media (max-width: 380px) {
  .indicators span {
    margin: 0 10px;
  }
  #mywork ul li a {
    font-size: 0.7rem;
    font-weight: 100;
  }
}

/* close media quires */
